.forms {
  margin: auto;
  width: 350px;
  padding: 10px;
}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #fff;
}
.nav-link{
  color:floralwhite;
}
.nav-link:hover{
   color: #fff !important;
   text-decoration: none;
  }