.forms {
  margin: auto;
  width: 350px;
  padding: 10px;
}
.form-label{
  color:floralwhite;
}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: rgb(2,0,36);
  color:floralwhite;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.nav-link{
  color:floralwhite;
}
.nav-link:hover{
   color: #fff !important;
   text-decoration: none;
  }
  .navbar-dark{
    background-color:white;
}
.brand{
  color:floralwhite;
  font-weight: bold;
}
.brand:hover{
  color: #fff !important;
  text-decoration: none;
 }
 p{
   color: floralwhite;
   text-align: center;
 }
.displayed-image {
  margin:auto;
  height: 300px;
  width: 300px;
}
.form-head{
  color:floralwhite;
}